:root {
  --primary-color: #6aaf6a;
  --secondary-color: #f8f9fa;
  --accent-color: #ff6b6b;
  --dark-color: hsla(125, 30%, 55%, 1);
  --text-color: #333;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: var(--text-color);
  background: hsla(125, 30%, 55%, 1);
}
