.navbar {
  padding: 0 40px;
  min-height: 180px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.3s ease;
  background: hsla(51, 63%, 94%, 1) !important;
  box-shadow: none;
}
.hero-section {
  background: hsla(51, 63%, 94%, 1) url("./images/bg-img.png");
  background-size: cover;
  background-position: center;
  min-height: 100vw;
  min-width: 100vw;
  aspect-ratio: 1 / 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #222;
  padding: 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}
.services-section {
  padding: 0;
  background: #fff;
  display: flex;
  flex-direction: row;
  min-height: 480px;
}
.portfolio-section {
  padding: 100px 0;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("./images/mask.png");
  background-size: cover;
  background-position: center;
  color: white;
}
.video-section {
  padding: 100px 0;
}
.blog-section {
  padding: 100px 0;
  background-color: var(--secondary-color);
}
.testimonial-section {
  padding: 80px 0;
  background: #fff;
  color: var(--text-color);
  text-align: center;
}
.footer {
  background: var(--primary-color);
  color: #fff;
  padding: 80px 0 0 0;
  position: relative;
}
.footer-bottom {
  border-top: 1px solid #b7d7b7;
  padding: 18px 0 12px 0;
  margin-top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #faf8e9;
  color: #222;
  font-size: 1.05rem;
}
